/* styles.css */
body{
    font-family: Garamond , serif;
}
#TopText {
    font-family: Garamond , serif; /* Font type */
    font-size: 45px;               /* Font size */
    color: #25AAE1;                   /* Text color */
    text-align: center;            /* Center-align the text */
    margin-top: 150px;              /* Top margin */
    margin-bottom: 0px;           /* Bottom margin */
    padding: 10px;                 /* Padding around the text */
    border-bottom: 2px solid #25AAE1; /* Bottom border */
    background-color: black;     /* Background color */
    height: 100px;
}

#TopHeader {
    display: flex;
    margin: -8px;
    background-color: black;
    height: 600px;
}

.Top_column {
    flex: 1;
    padding: 20px;
}

.Top_column-left {
    display: flex;          /* Use Flexbox to center the image */
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    align-items: center;
    max-width: 100%;
    background-color: black;
}

.Top_column-right {
    color: #25AAE1;
    text-align: center;
    background-color: black;
    font-size: 20px;
}

#AboutMe {
    display: flex;
    margin: -8px;
    background-color: white;
    height: 350px;
}
.About_column {
    flex: 1;
}

.About_column-left {
    display: flex;          /* Use Flexbox to center the image */
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    align-items: center;
    background-color: white;
}

.About_column-right {
    color: black;
    text-align: center;
    background-color: white;
    font-size: 20px;
}
#face {
    width: 80%;  /* Maintain aspect ratio */
    height: auto;
}

#Showcase{
    background: lightgrey;
    margin-top: 10px;
}

#ShowcaseHeader{
    text-align: center;
    background: lightgrey;
    margin: -8px;
}


@media (max-width: 686px) {
    #ExtraTopInfo {
        display: none;
    }
    #TopText {
        border-bottom: None;
    }
    .About_column-left {
        display: none;
    }
    .Top_column-left img{
        height: 30%;
    }
}